# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:merry-deer-201 # team: serhii-798ae, project: notes-p21

EXPO_PUBLIC_CONVEX_URL=https://merry-deer-201.eu-west-1.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://merry-deer-201.eu-west-1.convex.site
